body {
  background-image: url('maxresdefault.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  text-align: center;
  font-size: 50px;
  font-style: italic;
  color: red;
  background-color: black;
}
#regNo{
  border-color: black;
  box-sizing: 50px;
  height: 50px;
  width: 200px;


}
#adding{
  float: left;
}
li{
  border-radius: 2em;
  border-color: black;
  height: 50px;
  width: 300px;
  background-color: yellow;
  list-style: none;
  border-style: solid;
  text-align: center;
  font-size: 40px;
  margin-top: 0.5em;
}
#Locations{
margin-bottom: 1em;
float: left;


}
